<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/707bc7f95b.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4SCTJLJHB"></script>
        <!-- <script>
            window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

              gtag('config', 'G-Z4SCTJLJHB');
        </script> -->
        <title>Sunshine Resort Pune</title>
        <meta name="title" content="Home - Sunshine Resort">
        <meta name="description" content="">
        <meta name="keywords" content="Sunshine Resort, Service in Gorhe Khurd, Panshet, Khadakwasla, Pune">
        <meta name="robots" content="all">
        <meta name="application-name" content="Sunshine Resort">
        <meta property="og:title" content="Home - Sunshine Resort">
        <meta property="og:site_name" content="Sunshine Resort">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://sunshineresortpune.com/assets/img/logo.png">
    </head>
    <body>
        <!-- <header class="sticky-top">
            <nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm">
                <div class="container">
                    <a class="p-0 navbar-brand" href="https://sunshineresortpune.com/">
                        <img src="{% static 'images/HYATT.png' %}" alt="logo" width="150" height="70">
                      </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="b-row display-xl-block display-xx-block nav-row" style="user-select: auto;">
                    <div class="b-col-12@xs" style="user-select: auto;">
                    
                    <nav class="navigation" data-locator="navigation" style="user-select: auto;">
                        <ul class="list-inline">
                            <li class="active b-text_weight-bold">
                                <a href="" class="text-uppercase">Hotel</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Rooms</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Area Attractions</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Dining</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Special Events</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Photos + Reviews</a>
                            </li>
                        
                            <li class="b-text_weight-normal">
                                <a href="" class="text-uppercase">Offers</a>
                            </li>
                        </ul>
                    
                    
                    
                    </nav>
                    </div>
                    </div>

                            <div class="mobile-button" data-js="narrow-site-header">
                                <button type="submit" bw-rebook="" class="quickbookSearchFormButton b-button b-button_icon-down b-button-shop b-button-block b-button_icon-down" data-toggle="modal" data-modal-selector="#quickbook" data-modal-class="quickbook-modal" data-has-quickbook="true" data-modal-clear="true" data-js-event-name="sc_page_title--||--page_type" data-js-event-value="Property:SearchBoxModal--||--searchbox_modal" data-js-event-type="page" data-update-url="true" ng-click="showQuickbook($event)" data-js="interaction-observer">
                                    Book Now
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </header> -->
        <header>
            <nav class="main">
                <!-- <div class="logo font-bold flex items-center text-blue"></div> -->

                <div>
                <a class="" href="">
                    <img src="{% static 'images/Hyatt-logo1.png' %}" alt="logo" width="150" height="70">
                </a>
                </div>

                <ul >
                    <li class="active">
                        <a href="" class="text-uppercase">Hotel</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Rooms</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Area Attractions</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Dining</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Special Events</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Photos + Reviews</a>
                    </li>
                
                    <li >
                        <a href="" class="text-uppercase">Offers</a>
                    </li>

                    <li >
                        <a href="" class="text-uppercase">Book Now</a>
                    </li>

                    <!-- <li>
                        <button type="submit" bw-rebook="" class="quickbookSearchFormButton b-button b-button_icon-down b-button-shop b-button-block b-button_icon-down" data-toggle="modal" data-modal-selector="#quickbook" data-modal-class="quickbook-modal" data-has-quickbook="true" data-modal-clear="true" data-js-event-name="sc_page_title--||--page_type" data-js-event-value="Property:SearchBoxModal--||--searchbox_modal" data-js-event-type="page" data-update-url="true" ng-click="showQuickbook($event)" data-js="interaction-observer">
                            Book Now
                        </button>

                    </li> -->




                </ul>
            </nav>
            <hr>
        </header>




        
        {% block content %}
        
        {% endblock content %}






        <!-- footer -->
        <footer class="pt-2 border-top bg-light">
            <div class="container">
                <div class="row text-muted p-2">
                    <div class="col-sm">
                        <h5>For Bookings</h5>
                        <h6 class="contact-number pt-1"><i class="fas fa-phone-alt"></i><a href="tel:+918308408362" class="footer-menus">+91 8308408362</a></h6>
                        <h6 class="contact-number pb-1"><i class="fas fa-phone-alt"></i><a href="tel:+918308408362" class="footer-menus">+91 8308408362</a></h6>
                        <h5>
                            <a class="p-2" href="https://www.facebook.com/sunshineresortpune"><i class="fab fa-facebook fa-2x social-fb"></i></a>
                            <a class="p-2" href="https://www.instagram.com/sunshineresortpune/"><i class="fab fa-instagram fa-2x social-ig"></i></a>
                            <a class="p-2" href="https://wa.me/919158880099/"><i class="fab fa-whatsapp fa-2x social-wa"></i></a>
                        </h5>
                    </div>
                    <div class="col-sm">
                        <h5>Address</h5>
                        <p>Get in Touch for Special Offers and Discounts.</p>
                        <p><i class="fas fa-map-marked-alt"></i>Gorhe Khurd, Donje, Panshet Rd, Pune 411025</p>
                        <p><i class="fas fa-envelope"></i><a class="footer-menus" href="mailto:contact@sunshineresortpune.com">contact@sunshineresortpune.com</a></p>
                    </div>
                    <div class="col-sm">
                        <h5>Sitemap</h5>
                        <ul>
                            <li><a href="#" class="footer-menus">Food Menu</a></li>
                            <li><a href="rooms.html" class="footer-menus">Rooms</a></li>
                            <li><a href="privacy.html" class="footer-menus">Privacy Policy</a></li>
                            <li><a href="terms.html" class="footer-menus">Terms Of Use</a></li>
                            <li><a href="contact.html" class="footer-menus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container border-top small text-muted">
                <div class="row py-3">
                    <div class="col-sm-8">
                        Copyright &copy;2022 <a href="/">Sunshine Resort</a> All rights reserved.
                    </div>
                    <div class="col-sm-4">
                        Website designed and developed by <a href="https://twitter.com/AmolBaikar">Amol Baikar</a>.
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>